singularity {
    enabled = true
    runOptions = '-B /dataE/AWIGenGWAS --cleanenv'
}

process {       
    cache = true    
    stageInMode = 'symlink'
    stageOutMode = 'rsync'
    cpus = 12
    memory = 20.GB
    time = 100.h
    maxForks = 5
//    scratch = '/tmp/'
    container = 'file:///$HOME/.singularity/cache/nf-mochachoca_latest.sif'
}

profiles {
    slurm {
        executor = 'slurm'
        queue = 'batch'
    }
}

trace {
    enabled = true
    file = "workflow-tracing/trace.txt"
}
timeline {
    enabled = true
    file = "workflow-tracing/timeline.html"
}
report {
    enabled = true
    file = "workflow-tracing/report.html"
}
